.welcomeBtn {
  display: flex;
  color: var(--dark);
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 100px;
  padding: .4em;
  background: var(--light);
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: all 600ms;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
}
.welcomeBtn:hover {
  color: var(--dark);
  background: var(--cian);
}
.welcomeBtn:focus {
  box-shadow: none;
  transform: scale(0.99);
}
.welcomeBtn img {
  width: 40px;
  animation: my-animation 5s infinite;
}

@keyframes my-animation {
  /* al definir los keyframes de la animación también la otorgamos un nombre*/
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  75% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
