@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #fcd02d;
  --primary-hover: #f9d65a;
  --primary-focus: #fccf2dd0;

  --secondary: #464b55;
  --secondary-hover: #464b55;
  --secondary-focus: #464b55;

  --success: #0ebd8b;
  --success-hover: #0ebd8b;
  --success-focus: #0ebd8b;

  --light: #fdfffb;
  --light-hover: #fdfffb;
  --light-focus: #fdfffb;

  --dark: #151320;
  --dark-hover: #151320;
  --dark-focus: #151320;

  --danger: #aa3634;
  --danger-hover: #aa3634;
  --danger-focus: #aa3634;

  --red: #aa3634;
  --power-cian: #5fd6fb;
  --cian: #3779cd;
  --cian-dark: #19355b;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
  user-select: none;
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  font-family: "Roboto", sans-serif;
}
section {
  height: 100%;
}
select {
  width: auto;
  height: 35px;
  padding: 0 5px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.7px;
  font-size: 12px;
  margin: 0 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  background: var(--power-cian);
  color: var(--dark);
  transition: all 600ms;
  font-weight: 600;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
.select select::-ms-expand {
  display: none;
}

select:hover,
select:focus {
  color: var(--light);
  background: var(--cian);
}
select:focus {
  background: var(--cian-dark);
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 115px;
  color: var(--dark);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
  background: var(--power-cian);
  border: none;
  border-radius: 3px;
  height: 35px;
  padding: 0 15px;
  font-weight: 600;
  transition: all 400ms;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
button > img{
  margin: 0 5px;
  width: 13px;
}
button:hover {
  color: var(--light);
  background: var(--cian);
}
button:hover img{
  filter: invert();
}

button:focus-within {
  transform: scale(0.98);
  color: var(--light);
  background: var(--cian-dark);
}
@media (max-width: 425px) {
  button {
    font-size: 12px;
    padding: 0;
  }
}
