.filtersBreeds {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  padding: .7em 6em;
}

.filtersBreeds::-webkit-scrollbar {
  -webkit-appearance: none;
}

.filtersBreeds::-webkit-scrollbar:vertical {
  width: 5px;
}

.filtersBreeds::-webkit-scrollbar-button:increment,
.filtersBreeds::-webkit-scrollbar-button {
  display: none;
}

.filtersBreeds::-webkit-scrollbar:horizontal {
  height: 5px;
}

.filtersBreeds::-webkit-scrollbar-thumb {
  background-color: var(--cian);
  border-radius: 20px;
}

.filtersBreeds::-webkit-scrollbar-track {
  border-radius: 10px;
}
