.card {
  min-width: 300px;
  width: 370px;
  background-color: #1c1b29;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
  text-decoration: none;
  overflow: hidden;
  min-height: 500px;
  height: auto;
  scroll-snap-align: end;
  transition: all 400ms;
  color: var(--light);
}

.container {
  height: 230px;
  overflow: hidden;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

img {
  width: 100%;
  height: 100%;
  object-position: right;
  object-fit: cover;
  display: block;
  border-radius: 20px 20px 0 0;
  transition: all 600ms;
  color: var(--light);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 150px;
}

.container:after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0 0;
  opacity: 0.7;
}
.card:nth-child(2n + 1) > .container:after {
  background-image: linear-gradient(135deg, #0000ec9b, #fb36f422);
}
.card:nth-child(2n) > .container:after {
  background-image: linear-gradient(135deg, #2bdde300, #42ffdccb);
}
.card:nth-child() > .container:after {
  background-image: linear-gradient(135deg, #ffab1d, #f8501c);
}
.details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px 20px;
  line-height: 1.5rem;
}

.details > h3 {
  padding: 0;
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  margin: 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.details > p {
  margin: 5px;
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 400;
}
.temperaments {
  display: flex;
  flex-wrap: wrap;
}
.span {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
  padding: 2px 10px;
  color: var(--dark);
  background-color: var(--power-cian);
  border-radius: 5px;
}
.span:hover {
  color: var(--light);
  background-color: var(--cian);
}
@media (max-width: 425px) {
  .card {
    margin-top: 10px;
    width: 320px;
  }
}
