.welcomeContainer{
  height: 100vh;
  background-color: var(--dark);
  background-image: url('https://img5.goodfon.com/wallpaper/nbig/b/c9/sobaka-labrador-osheinik-chernyi-fon-pios.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  margin: 0;
  padding: 1em 0;
  font-size: 4.6rem;
  text-align: center;
  color: var(--light);
  font-weight: 500;
  text-shadow: 0 2px 10px rgba(0, 0, 0, .556);
}
.socialMedia{
  background-color: var(--dark);
  position: absolute;
  border-radius: 14px;
  box-shadow: 0 0 5px var(--power-cian);
  padding: 7px 3px;
  bottom: 30px;
  right: 30px;
}
.socialMediaIcon{
  width: 40px;
  transition: all 600ms;
  margin: 10px;
}
.socialMediaIcon:hover{
  transform: scale(.9);
  filter: brightness(300%);
}
.callToActionBtn{
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  text-decoration: none;
  color: var(--dark);
  margin: 0 auto;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  padding: .4em 1.2em;
  background: var(--power-cian);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .556);
  transition: all 600ms;
}
.callToActionBtn:hover{
  color: var(--light);
  background: var(--cian);
}
.callToActionBtn:focus{
  background: var(--cian-dark);

}

@media (max-width:768px) {
  .title{
    font-size: 50px;
  }
  .callToActionBtn{
    bottom: 30px;
  }
  .socialMedia{
    padding: 3px 0px;
    bottom: 10px;
    right: 10px;
  }
}






/* .container{
  height: 100vh;
  width: 100%;
  background: linear-gradient(to top, var(--dark) 0%, var(--cian-dark) 100%);
  background: url("../../images/fondo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; */
/* }
.greeting{
  display: grid;
  grid-column: 1fr 1fr;
  grid-row: 1fr;
}
.dogPicture {
  width: 300px;
}
.title {
  font-size: 55px;
  color: var(--light);
  font-weight: 500;
  text-shadow:  0px 3px 5px rgba(3, 3, 3, 0.4);
  letter-spacing: 1px;
}
.welcomeBtn{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  position: absolute;
  bottom: 100px;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--power-cian);
  padding: .5em .3em;
  width: 200px;
  border-radius: 5px;
  transition: all 300ms;
}
.welcomeBtn img{
  width: 30px;
  transition: all 300ms;
}

.welcomeBtn:hover{
  background: var(--cian);
  color: var(--light);
}
.welcomeBtn:focus{
  background: var(--cian-dark);
  animation: runDog 600ms ease-out;
}
.welcomeBtn:hover img{
  animation: runDog 600ms ease-out;
  filter: invert();
}
@keyframes runDog {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(20px);
  }
} */
