.searchBar {
  display: flex;
  flex-direction: column;
  padding: 0.5em 6em;
  flex-wrap: nowrap;
}
.searchBar .formGroup{
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.searchInput {
  height: 35px;
  background: transparent;
  padding: 0 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--light);
  border: 1px solid var(--power-cian);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  transition: all 300ms;
}
.searchInput::placeholder {
  color: var(--light);
}
.searchInput:focus {
  box-shadow: 0 0px 3px rgb(95, 215, 251);
}
.textTitle {
  margin: 20px 0 0 0;
  color: #afafaf;
  text-align: center;
}
.selectContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.select select::-ms-expand {
  display: none;
}

select:focus {
  background: var(--cian-dark);
}

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.searchBtn {
  width: 100px;
  color: var(--dark);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  cursor: pointer;
  background: var(--power-cian);
  border: none;
  border-radius: 3px;
  height: 35px;
  padding: 0 5px;
  font-weight: 600;
  transition: all 400ms;
  letter-spacing: 0.5px;
  margin: 0 10px;
}
.searchBtn:hover {
  color: var(--light);
  background: var(--cian);
}
.searchBtn:focus-within {
  transform: scale(0.98);
  color: var(--light);
  background: var(--cian-dark);
}
option{
  backdrop-filter: blur(10px);
}
.resetBtn{
  position: sticky;
  padding: 5px 3px;
  cursor: pointer;
  filter: invert();
  width: 25px;
  transition: all 600ms;
}

.resetBtn:hover{
  transform: rotate(60deg);
}
.resetBtn:focus-within{
  transform: rotate(270deg);
}

@media (max-width: 972px) {
  .searchBar {
    /* flex-direction: column; */
    padding: 0.5em 2em;
    justify-content: space-around;
    align-items: flex-start;
  }
  .searchInputContainer {
    margin-bottom: 10px;
  }
  select {
    margin-left: 2px;
  }
}
@media (max-width:768px) {
  .selectContainer {
    flex-wrap: wrap;
  }
}
@media (max-width:549px) {
  .searchBar{
    padding: 0 50px;
  }
  .searchBar .formGroup{
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .selectContainer {
    justify-content: space-evenly;
    align-items: center;
  }
  .searchInput {
    width: 100px;
    margin-right: 15px;
  }
  .searchBtn{
    margin: 0;
    width: 60px;
    font-size: 13px;
    font-weight: 500;
  }
  .searchBar .formGroup  select{
    width: 60px !important;
    margin-top: 3px;
    font-size: 13px;
    font-weight: 500;
  }
}
@media (max-width:400px) {
  .searchBar{
    align-items: center;
    padding: 0;
    width: 100%;
    margin: 0;
  }
  .searchBar .formGroup:first-child{
    flex-direction: column;
  }
  .searchBar .formGroup:first-child select{
    width: 210px !important;
  }
  .searchBtn{
    margin-bottom: 10px;
    width: 210px;
    padding: 0 5px;
  }
  .searchInput{
    padding: 0 5px;
    margin: 10px 0;
    width: 200px;
  }

}