.btn {
  margin: 5px 10px;
  color: var(--dark);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: var(--power-cian);
  border: none;
  border-radius: 14px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  transition: all 400ms;
  letter-spacing: 0.5px;
}
.btn:hover {
  color: var(--light);
  background: var(--cian);
}
.btn:focus-within {
  transform: scale(0.98);
  color: var(--light);
  background: var(--cian-dark);
}
