.createBreed {
  background: linear-gradient(to bottom, var(--cian), var(--dark));
  height: 100vh;
  display: block;
}

.container {
  padding: 3em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 3px;
}

.formulario {
  width: 600px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

.formInput {
  width: 350px;
  background: var(--light);
  padding: 12px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: var(--dark);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.518);
  transition: all 300ms;
}
.select {
  width: 370px;
}
.error {
  width: 250px;
  text-align: center;
  color: var(--light);
  padding: 15px 15px;
  background-color: var(--danger);
  border-radius: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.518);
}
.formInput:focus {
  box-shadow: 0 1px 10px rgba(37, 37, 37, 0.579);
}
.formGroup {
  display: flex;
  width: 370px;
  justify-content: space-between;
}
.formGroup input {
  width: 160px;
}
.btn {
  color: var(--dark);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: var(--power-cian);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  width: 370px;
  transition: all 400ms;
  letter-spacing: 0.5px;
}
.btn:hover {
  color: var(--light);
  background: var(--cian);
}
.btn:focus-within {
  transform: scale(0.98);
  color: var(--light);
  background: var(--cian-dark);
}

.btn:disabled {
  background: var(--secondary);
  color: var(--light);
  cursor: auto;
}
@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .formulario {
    width: 300px;
  }
  .formInput {
    width: 300px;
  }
  .formGroup {
    width: 320px;
  }
  .formGroup input {
    width: 130px;
  }
  .btn {
    width: 320px;
  }
  .select {
    width: 320px;
  }
}

