.createBreed{
  width: 100%;
  height: 100vh;
  background:linear-gradient(to top, var(--cian), var(--power-cian));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  border-radius: 3px;
}

.formulario{
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  display: flex;
}

.formInput {
  width: 250px;
  background: var(--light);
  padding: 15px 15px;
  margin: 15px 10px;
  border-radius: 12px;
  outline: none;
  border: none;
  color: var(--dark);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  transition: all 300ms;
}
.error{
  border: 2px solid var(--danger);
}
.formInput:focus {
  box-shadow: 0 1px 10px rgb(37, 37, 37);
}

.btn {
  margin: 15px 10px;
  color: var(--dark);
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  background: var(--power-cian);
  border: none;
  border-radius: 14px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  transition: all 400ms;
  letter-spacing: 0.5px;
}
.btn:hover {
  color: var(--light);
  background: var(--cian);
}
.btn:focus-within {
  transform: scale(0.98);
  color: var(--light);
  background: var(--cian-dark);
}
