.pagination-nav{
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: .6em .2em;
  background: linear-gradient(to right, var(--power-cian), var(--cian));
  color: #fff;
}
.pagination-nav p{
  margin: 0 10px;
}

.pagination{
  margin: 20px auto;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
}

.page-item{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0 3px;
}

.page-button{
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  border: none;
  background: var(--power-cian);
  padding: 1em;
  width: 20px;
  margin: 0 4px;
  min-width: 20px;
  height: 20px;
  transition: all 300ms;
}
.page-button:hover{
  background: var(--cian);
  color: var(--light);
}

.page-button:focus,
.page-button:visited {
  color: var(--light);
  background: var(--cian-dark);
}