.pagination-nav{
  display: flex;
  width: 100%;
}
.pagination{
  margin: 20px auto;
  border-radius: 25px;
  background: #fff;
  padding: .5em 1.8em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: #000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
}

.page-item{
  text-align: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
  transition: all 600ms;
  padding: .3em;
  border-radius: 5px;
}

.page-item:hover{
  background: var(--power-cian);
}